<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.TRANSMIT_IR"/>
    <uses-feature android:name="android.hardware.ConsumerIrManager"/>

    <application
            android:name=".IRApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ir_logo"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:requestLegacyExternalStorage="true"
            android:networkSecurityConfig="@xml/network_security_config"
            android:theme="@style/AppTheme">

        <activity
                android:name="net.irext.ircontrol.ui.activity.MainActivity"
                android:label="@string/title_activity_main"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="net.irext.ircontrol"
            android:enabled="true"
            android:exported="false">
        </provider>

        <meta-data
                android:name="AA_DB_NAME"
                android:value="IRRemote"/>
        <meta-data
                android:name="AA_DB_VERSION"
                android:value="5"/>
        <meta-data
                android:name="AA_MODELS"
                android:value="net.irext.ircontrol.bean.RemoteControl"/>

        <meta-data
                android:name="irext_app_key"
                android:value="90c27f890a98540cbe270e61ff2afd43" />

        <meta-data
            android:name="irext_app_secret"
            android:value="82ca491b769c9b2677ed44ec0f69758b" />

    </application>

</manifest>